main {
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    padding-top: 1rem;
    padding-left: .8rem;
}
.menu-item, .cont-name{
    height: 2.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    gap: .9rem;
    border-radius: .5rem;
    cursor: pointer;
}
.menu-item:hover,
.cont-name:hover {
    background: var(--hover_background);
}

.menu-item i {
    width: 1.3rem;
    height: 1.3rem;
}

.profile{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    object-fit: cover; 
}

#right-sidebar{
    padding: .8rem .7rem;
}
#top-content{
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: 0 .5rem;
}
.item-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: .5rem ;
    border-radius: 50%;
}
.item-icon:hover{
    background: var(--hover_background);
}
.item:first-child{
    margin-right: auto;
}













section {
    border: 1px solid black;
}